<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      #warning { font-size: 1.3em; font-weight: bold; color: ff0000;}
    </style>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/indexCtrl.js"></script>
  </head>
<body ng-app="lunchChecker">
   <div class="container" ng-controller="indexCtrl">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="inputVal">
         </div>
         <div class="form-group">
             <p>* ignoring white spaces</p>
             <button class="btn btn-success" ng-click="getReaction()">Check If Too Much</button>
         </div>
         <div class="form-group message">
            {{reaction}}
         </div>
         <div ng-show="show_warning" id="warning">
             Please enter data first
         </div>
   </div>

</body>
</html>