<div class="list-group">
  <a href="#" ng-if="items.length > 0" class="list-group-item active">
    <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    Showing {{items.length}} search results
  </a>
  <a href="#" class="list-group-item" ng-repeat="item in items">
    <span class="glyphicon glyphicon-remove-sign pull-right cursor-pointer" ng-click="removeItem({index : $index})"></span>
    <span class="glyphicon glyphicon-list-alt pull-left item-placeholder"></span>
    <h4 class="list-group-item-heading item-heading">{{item.name}}</h4>
    <span class="badge">{{item.short_name}}</span>
    <p class="list-group-item-text">{{item.description}}</p>
  </a>
</div>
